<div class="container" data-controller="payment-intents" data-payment-intents-client-secret="<%= @payment_intent.client_secret %>" data-payment-intents-order-id="<%= @order.id %>">
	<h1>
		Processing payment
	</h1>

	<h2>
		You will be redirected soon
	</h2>
</div>
