<div class="card h-100">
  <%= link_to shop_path(id: shop.id) do %>
    <% if shop.image.attached? %>
      <%= image_tag shop.image, class: "card-img-top", alt: shop.name %>
    <% end %>
  <% end %>

  <div class="card-body">
    <h4 class="card-title">
      <%= link_to shop.name, shop_path(id: shop.id), class: "text-dark font-weight-bold" %>
    </h4>
  </div>
</div>
