<div class="container p-5" data-controller="stripe" data-stripe-client-secret="<%= @setup_intent.client_secret %>">
	<div id="card-element" class="flex-grow-1">
	  <!-- Stripe Element will be inserted here -->
	</div>

	<!-- Used to display form errors -->
	<div id="card-errors" role="alert"></div>

	<button type="button" class="btn btn-primary" data-action="stripe#confirmCardSetup">
		Save card
	</button>
</div>