<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<% @stores.each do |store| %>
					<div class="col-lg-3 col-md-4 mb-4">
						<%= render 'store', store: store %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
