<ul class="list-group">
	<li class="list-group-item">
		<%= link_to "Create a recipe", new_recipe_path, class: "btn btn-success" %>
	</li>

	<% @recipes.each do |recipe| %>
		<%= render 'recipe', recipe: recipe %>
	<% end %>
</ul>