import { Controller } from "stimulus"

export default class extends Controller {
	connect() {
		global.sidebar = this
	}

	hide() {
		this.removeListeners()

		$("#sidebar").removeClass('show')

		$('#sidebar .sidebar-content').html("")

		$("#sidebar-backdrop").removeClass("show")

		setTimeout(() => {
			$("#sidebar-backdrop").remove()
		}, 150)

		$('body').removeClass('sidebar-open')
	}

	show(content) {
		$('body').addClass('sidebar-open')

		// If it works it works right?
		$('body').append("<div id='sidebar-backdrop' class='fade'></div>")

		setTimeout(() => {
			$('#sidebar-backdrop').addClass('show')
		}, 10)

		$('#sidebar .sidebar-content').html(content)

		$('#sidebar').addClass('show')

		this.addListeners()
	}

	addListeners() {
		$('#sidebar-backdrop').on('click', (event) => {
			event.preventDefault()
			
			this.hide()
		})

		$("[data-dismiss='sidebar']").on('click', (event) => {
			event.preventDefault()
			
			this.hide()
		})
	}

	removeListeners() {
		$('#sidebar-backdrop').off('click')
		$("[data-dismiss='sidebar']").off('click')
	}
}
