<div
	data-controller="stripe--payment"
	data-stripe--payment-client-secret="<%= @intent.client_secret %>"
	class="container"
>
	<form id="payment-form" data-action="stripe--payment#submitPayment">
		  <div id="card-element" data-action="change->stripe--payment#displayErrors">
		    <!-- Stripe Element will be inserted here -->
		  </div>

		  <!-- Used to display form errors -->
		  <div id="card-errors" role="alert"></div>

		  <button class="btn btn-primary" id="submit">Submit Payment</button>
		
	</form>
</div>
