<h2>
  Delivery Address
</h2>

<div data-controller="algolia-places">
	<%= f.input :address, autocomplete: "off", input_html: { data: { target: "algolia-places.input" } }, label: false %>
</div>

<h2>
  Delivery Time
</h2>

<%= f.input :scheduled_at, label: false, collection: Delivery.available_datetimes.map { |dt| ["#{dt.strftime('%d/%m | %H:%M')} to #{(dt + 2.hours).strftime('%H:%M')}", dt] } %>

<h2>
  Delivery Instructions
</h2>

<%= f.input :instructions, label: false %>

<h2>
  Mobile Number
</h2>

<%= f.input :phone, label: false %>