<div class="p-5 text-center">
	<h4>
		Your order has been packed and is ready for delivery in the following time slot:
	</h4>

	<h3 class="font-weight-light mt-4">
		<%= @delivery.scheduled_date_string %> | <%= @delivery.scheduled_slot_string %>
	</h3>
</div>