<button data-target="checkouts.payButton" data-action="checkouts#payOrder" type="button" class="btn btn-secondary" style="cursor: not-allowed;" disabled>
	Place Order
</button>

<br>

<br>

Order Breakdown

<br>

Subtotal

<br>

Tax

<br>

Delivery

<br>

Total
