<div class="card">
	<button data-target="checkout.payButton" data-action="checkout#payOrder" type="button" class="btn btn-secondary btn-block" style="cursor: not-allowed;" disabled>
		Place Order
	</button>

	<br>

	<br>

	Order Breakdown

	<br>

	Subtotal: <span id="breakdown_subtotal"><%= order.total %></span>

	<br>

	Delivery: <span id="breakdown_delivery">0.00</span>

	<br>

	Total: <span id="breakdown_total">0.00</span>
</div>