<button data-target="checkouts.payButton" data-action="checkouts#payOrder" type="button" class="btn btn-secondary" style="cursor: not-allowed;" disabled>
	Place Order
</button>

<br>

<br>

Order Breakdown

<br>

Subtotal: <span data-target="checkouts.subtotal"><%= order.total %></span>

<br>

Delivery: <span data-target="checkouts.delivery">0.00</span>

<br>

Total: <span data-target="checkouts.total">0.00</span>
