<div class="card border-0">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<button data-target="checkout.payButton" data-action="checkout#payOrder" type="button" class="btn btn-secondary btn-lg btn-block" style="cursor: not-allowed;" disabled>
				Place Order
			</button>
		</li>

		<li class="list-group-item">
			<div class="d-flex justify-content-between">
				<p>
					Subtotal
				</p>

				<p id="breakdown_subtotal">
					<%= number_to_currency(order.subtotal) %>
				</p>
			</div>

			<div class="d-flex justify-content-between">
				<p>
					Delivery
				</p>

				<p id="breakdown_delivery">
					<%= number_to_currency(order.delivery_price) %>
				</p>
			</div>

			<div class="d-flex justify-content-between">
				<p>
					Total
				</p>

				<p id="breakdown_total">
					<%= number_to_currency(order.total) %>
				</p>
			</div>
		</li>
	</ul>
</div>