<div class="container mt-5">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h2 class="text-center">Your Orders</h2>

			<p class="text-muted mb-0 text-center">
				Click an order to view more information
			</p>
		</li>

		<% if true or @orders.empty? %>
			<li class="list-group-item">
				<h3 class="text-center">
					You haven't made any orders
				</h3>
			</li>
		<% else %>
			<%= render 'orders' %>
		<% end %>
	</ul>
</div>