<div class="container my-5">
	<% unless @orders.empty? %>
		<% unless @upcoming_orders.empty? %>
			<div class="card border-0">
				<div class="py-4 border-bottom">
					<h2 class="text-center">Upcoming Orders</h2>

					<p class="text-muted mb-0 text-center">
						Click an order to view more information
					</p>
				</div>

				<ul class="list-group list-group-flush">
					<% @upcoming_orders.each do |order| %>
						<%= render 'order', order: order %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% unless @past_orders.empty? %>
			<div class="card border-0 mt-5">
				<div class="py-4 border-bottom">
					<h2 class="text-center">Past Orders</h2>

					<p class="text-muted mb-0 text-center">
						Click an order to view more information
					</p>
				</div>

				<ul class="list-group list-group-flush">
					<% @past_orders.each do |order| %>
						<%= render 'order', order: order %>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% else %>
		<div class="card">
			<h3 class="text-center py-5">
				You haven't made any orders
			</h3>
		</div>
	<% end %>	
</div>
