<h2>You're Order is on the way!</h2>

<h3>
	To be delivered on: 
	<%= @order.delivery.scheduled_at %>
</h3>


<h4>Items:</h4>

<ul class="list-group">
	<% @order.order_items.each do |order_item| %>
		<li class="list-group-item">
			<p>
				<b>Item Name: </b>
				<%= order_item.item.name %>
			</p>

			<p>
				<b>Quantity: </b>
				<%= order_item.quantity %>
			</p>
		</li>
	<% end %>
</ul>

<%= link_to "Track delivery", track_delivery_path(@order.delivery), class: "btn btn-primary" %>