<div class="h-100 d-flex flex-column h-100" style="width: 500px;">
	<div class="p-3 d-flex justify-content-between align-items-center" style="background: rgba(0, 0, 0, 0.02);">
		<h4 class="m-0 font-weight-light">
			Max's Shopping Cart
		</h4>

		<button class="btn btn-outline-success" data-dismiss="sidebar">
			<%= fa_icon 'times' %>

			Close
		</button>
	</div>

	<div class="container flex-grow-1 overflow-auto">
	  <ul class="list-group list-group-flush">
	    <% @cart.cart_items.each do |cart_item| %>
	      <%= render 'cart_item', cart_item: cart_item %>
	    <% end %>
	  </ul>
	</div>

	<div class="p-2 border-top">
		<%= link_to new_order_path, id: "checkout_button", class: "btn btn-success btn-lg btn-block position-relative" do %>
			Checkout

			<div class="position-absolute" id="checkout_button_total" style="background: #218838; right: 5px; bottom: 3px; padding: 0.3rem; border-radius: 4px;">
				<%= number_to_currency(@cart.total) %>
			</div>
		<% end %>
	</div>
</div>