<div
	data-controller="carts--edit"
	class="container my-5"
>
	<%= simple_form_for @cart do |f| %>
	  <ul class="list-group" id='cart_items'>
	    <%= f.simple_fields_for :cart_items do |cart_item| %>
	      <%= render 'cart_item_fields', f: cart_item %>
	    <% end %>

	    <li class="list-group-item">
	    	<%= f.submit class: "btn btn-primary" %>

	    	<button class="btn btn-success" data-action="carts--edit#checkout">
	    		Checkout
	    	</button>	
	    </li>
	  </ul>
	  <div data-controller="algolia-places">
	  	<input data-target="algolia-places.input" type="search" id="address-input" placeholder="Where are we going?" />
	  </div>
	<% end %>
</div>

