import { Controller } from 'stimulus';
import consumer from './../../../../channels/consumer.js';

export default class extends Controller {
  connect() {
    this.channel = consumer.subscriptions.create(
      {
        channel: 'PaymentMethodsChannel',
        user_id: this.data.get("userId")
      },
      {
        connected: this._cableConnected.bind(this),
        disconnected: this._cableDisconnected.bind(this),
        received: this._cableReceived.bind(this),
      }
    );
  }

  _cableConnected() {
    // Called when the subscription is ready for use on the server
    console.log("Connected")
  }

  _cableDisconnected() {
    // Called when the subscription has been terminated by the server
  }

  _cableReceived(data) {
    // Called when there's incoming data on the websocket for this channel
    const html = this.dataToHTML(data)

    $("fieldset.order_payment_method_id").append(html)
  }

  dataToHTML(data) {
    return `<div class='form-check'><input class='form-check-input radio_buttons optional' data-action='change->checkout#clearSelf change->checkout#checkSelf' type='radio' value='${data.id}' name='order[payment_method_id]' id='order_payment_method_id_${data.id}'><label class='form-check-label collection_radio_buttons' for='order_payment_method_id_${data.id}'>**** **** **** ${data.card.last4}</label></div>`
  }
}
