import { Controller } from 'stimulus';
import consumer from './../../../../channels/consumer.js';

export default class extends Controller {
  static targets = ["inputs"]

  connect() {
    this.channel = consumer.subscriptions.create(
      {
        channel: 'PaymentMethodsChannel',
        user_id: this.data.get("userId")
      },
      {
        connected: this._cableConnected.bind(this),
        disconnected: this._cableDisconnected.bind(this),
        received: this._cableReceived.bind(this),
      }
    );
  }

  _cableConnected() {
    // Called when the subscription is ready for use on the server
    console.log("Connected")
  }

  _cableDisconnected() {
    // Called when the subscription has been terminated by the server
  }

  _cableReceived(data) {
    // Called when there's incoming data on the websocket for this channel

    console.log("NEW CARD RECEIVED")

    // INSERT NEW OPTION INTO DOM

    // const html = this.dataToHTML(data)

    // $(this.inputsTarget).append(html)
  }

  dataToHTML(data) {
    // This is pretty messy but is essentially just the output of:
    /*
    label_tag "order_payment_method_id_#{payment_method.id}", class: "list-group-item" do
      radio_button_tag "order[payment_method_id]", payment_method.id
      '**** ' * 3 + payment_method.card.last4
    end
    */
    return `<label class='list-group-item' for='order_payment_method_id_${data.id}'><input type='radio' name='order[payment_method_id]' id='order_payment_method_id_${data.id}' value='${data.id}'>**** **** **** ${data.card.last4}</label>`
  }
}
