<div class="container-lg">
	<div class="mr-3 mr-lg-0">
		<div class="input-group mt-4 mb-3 ml-auto" style="max-width: 400px; margin-right: -15px;">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="order_by_select"><%= t('.sort_by') %></label>
		  </div>

		  <select name="order" class="custom-select" id="order_by_select" data-controller="select2 order" data-target="order.select">
		  	<%= options_for_select @order_options, params[:order] %>
		  </select>
		</div>
	</div>

	<div class="row bg-white pt-3 mb-0 mb-lg-5 pb-3">
		<% @items.each do |item| %>
			<div class="col-4 col-lg-3 my-4">
				<%= render 'item', item: item %>
			</div>
		<% end %>

		<div class="col-12">
			<%= will_paginate @items, list_classes: %w(pagination justify-content-center) %>
		</div>
	</div>
</div>
