<div class="container">
	<%= form_tag items_path, method: :get do |f| %>
		<div class="input-group mt-4 mb-3 ml-auto" style="max-width: 400px; margin-right: -15px;">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="sort_by_select">Sort by</label>
		  </div>

		  <select name="sort" class="custom-select" id="sort_by_select" data-controller="select2" onchange="this.form.submit()">
		  	<%= options_for_select @sort_options, params[:sort] %>
		  </select>
		</div>
	<% end %>

	<div class="row bg-white pt-3">
		<% @items.each do |item| %>
			<div class="col-4 col-lg-3 my-4">
				<%= render 'item', item: item %>
			</div>
		<% end %>

		<div class="col-12">
			<%= will_paginate @items, list_classes: %w(pagination justify-content-center) %>
		</div>
	</div>
</div>
