/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require flag-icon
 */

form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.icon {
	display: inline-block;
	text-align: center;

	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 20px;
}

#cart_count {
  position: absolute !important;
  top: -5px !important;
  right: -5px !important;
	display: inline-block;
	padding: .25em .6em;
	font-size: 12px !important;
	line-height: 1;
	text-align: center;
	border-radius: 3rem;
}

.bottom-right {
	position: fixed !important;
	bottom: 25px;
	right: 25px;
	z-index: 9999;
}

body {
	background-color: #F7F7F7 !important;
}

* {
	font-family: 'Montserrat', sans-serif;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection,
select:focus {
	border-color: #28a745 !important;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.select2-container--bootstrap4 .select2-results__option--highlighted {
	background-color: #28a745 !important;
}

.page-link {
	color: #28a745 !important;
}

.page-item.active .page-link {
	background-color: #28a745 !important;
	border-color: #28a745 !important;
	color: white !important;
}
