.dropdown-item.active,
.dropdown-item:active {
	background-color: #28a745 !important;
}

.form-control:focus {
	border-color: #28a745 !important;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.nav-item .nav-link:hover {
	color: #28a745 !important;
}

.autocomplete-link {
	transition: all 0.25s ease-in-out;
}

.autocomplete-link:hover {
	transform: scale(1.02);
}

.autocomplete-link:hover p {
	color: #28a745 !important;
}