.dropdown-item.active,
.dropdown-item:active {
	background-color: #28a745 !important;
}

.form-control:focus {
	border-color: #28a745 !important;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}