#sidebar {
	position: fixed;
	top: 0;
  right: -100%;
  height: 100%;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transition: right 0.5s;

  z-index: 1050;

  max-width: 100vw;
}

#sidebar.show {
	right: 0;
}

#sidebar-backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: black;
	
	z-index: 1030;
  opacity: 0;

  transition: opacity 0.15s linear;
}

#sidebar-backdrop.show {
  opacity: 0.5;
}

.sidebar-open {
	overflow: hidden;
}