<div class="card">
	<article class="filter-group border-bottom">
		<header class="card-header border-0 bg-white">
			<a href="#collapse_1" data-toggle="collapse" aria-expanded="false" aria-controls="#collapse_1">
				<i class="icon-control fa fa-chevron-down float-right"></i>
				<h6 class="title font-weight-bold">Category</h6>
			</a>
		</header>

		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body pt-0">
				
				<ul class="list-group">
					<li class="list-group-item border-0 px-0 py-1">
						<a class="text-dark" href="#">Dairy</a>
					</li>
					
					<li class="list-group-item border-0 px-0 py-1">
						<a class="text-dark" href="#">Meat</a>
					</li>
					
					<li class="list-group-item border-0 px-0 py-1">
						<a class="text-dark" href="#">Breakfast</a>
					</li>
					
					<li class="list-group-item border-0 px-0 py-1">
						<a class="text-dark" href="#">International</a>
					</li>
					
					<li class="list-group-item border-0 px-0 py-1">
						<a class="text-dark" href="#">Vegetables</a>
					</li>
				</ul>
			</div>
		</div>
	</article>

	<article class="filter-group border-bottom">
		<header class="card-header border-0 bg-white">
			<a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down float-right"></i>
				<h6 class="title font-weight-bold">Dietary</h6>
			</a>
		</header>

		<div class="filter-content collapse show" id="collapse_2" style="">
			<div class="card-body">
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input">
				  <div class="custom-control-label">Vegetarian  
				  	<b class="badge badge-pill badge-light float-right">120</b>  </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input">
				  <div class="custom-control-label">Vegan 
				  	<b class="badge badge-pill badge-light float-right">15</b>  </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input">
				  <div class="custom-control-label">Gluten Free 
				  	<b class="badge badge-pill badge-light float-right">35</b> </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input">
				  <div class="custom-control-label">Organic 
				  	<b class="badge badge-pill badge-light float-right">89</b> </div>
				</label>
			</div> 
		</div>
	</article>
	
	<article class="filter-group">
		<header class="card-header border-0 bg-white">
			<a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
				<i class="icon-control fa fa-chevron-down float-right"></i>
				<h6 class="title font-weight-bold">More filter </h6>
			</a>
		</header>
		<div class="filter-content collapse in" id="collapse_5" style="">
			
		</div>
	</article>
</div>

<style>
	.filter-group .list-group-item a:hover {
		color: #007bff !important;
	}

	.filter-group a:hover {
		text-decoration: none;
	}
</style>