<div class="container">
	<div class="my-4" data-controller="autocomplete" data-autocomplete-url="<%= autocomplete_store_products_url %>">
		<%= form_with url: store_products_path, method: :get, local: true, class: "form-inline", html: { autocomplete: "off" } do %>
		  <%= search_field_tag :q, nil, placeholder: "What are you craving?", class: "form-control w-100", data: { target: "autocomplete.input", action: "input->autocomplete#fetchResults" } %>
		<% end %>

		<ul class="list-group" data-target="autocomplete.results"></ul>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card border-0">
				<div class="row">
					<% @products.each do |product| %>
						<div class="col-lg-3 col-md-4">
							<%= render 'product', product: product %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.banner {
		background: #9DDB6C;
	}

	.badge {
		position: absolute;
	}

	.top-left {
		top: 10px;
		left: 10px;
	}

	.top-right {
		top: 10px;
		right: 10px;
	}
</style>