<div class="container">
	<div class="row">
		<div class="col-lg-3">
		  <h1 class="my-4">Groceries</h1>

		  <div class="list-group">
		    <a href="#" class="list-group-item">Put nav stuff here</a>
		    <a href="#" class="list-group-item">Link 2</a>
		    <a href="#" class="list-group-item">Link 3</a>
		  </div>
		</div>

		<div class="col-lg-9">
			<%= render 'carousel' %>

			<div class="row">
				<% @products.each do |product| %>
					<div class="col-lg-4 col-md-6 mb-4">
						<%= render 'product', product: product %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
